# **Pertemuan #5 - Composite Data Structure - Live Class** 

Python Course - Sekolah Data - Pacmann Academy

**Outline**

1. Review
2. Case 1 -- Analisa Profit
3. Case 2 -- Gaji Karyawan Perusahaan
4. Case 3 -- Koleksi Mainan
5. Case 4 -- Inventori Gudang

## **Review**
---

Materi yang sudah anda pelajari pada Video Learning Composite Data Structure adalah sebagai berikut

### **1. Composite Data Structure on Python**

Composite Data Structure adalah tipe data yang tersusun (composed) dari dua atau lebih tipe data primitif `(int, float, string, boolean)`

Perbedaan Composite Data Structure dengan Primitive data Structure bisa anda lihat pada tabel dibawah.

||Composite Data Structure|Primitive Data Structure|
|-|-|-|
|Struktur|dibangun dari tipe data lain|tipe data yang paling sederhana|
|Penyimpanan|bisa menyimpan banyak tipe data | hanya menyimpan satu tipe data|
|Contoh|`list, tuple, set, dictionary` | `integer, float, string, boolean`|

---

### **2. List**

List dalam python di representasikan dengan **tanda kurung siku** `[]`. Kita bisa menyimpan tipe data apa saja didalam list seperti string, angka, atau tipe data lain.

Contoh sebuah list: 
```python
my_list = [1, 2, 3, 4, 5]
```

Kita bisa akses sebuah element pada list menggunakan **indexing** atau **slicing**

Sebuah list memiliki sifat **mutable**, artinya kita dapat mengubah atau memodifikasi nilai dari tipe data tersebut

List di python memiliki banyak method untuk mempermudah pekerjaan. Beberapa method yang sering digunakan diantaranya:
```
len()
append()
insert()
in
index()
count()
remove()
pop()
```

### **3. Dictionary**

`Dictionary` bisa dianggap sebagai pemetaan antara sebuah indeks yang disebut **keys** dan sebuah **value**. Setiap key **memetakan** ke suatu value. Hubungan key dan value ini disebut **key-value pair**.

Dictionary dalam python direpresentasikan dengan **tanda kurung kurawal** `{}`

Contoh pendefinisian sebuah dictionary

```python
NAMA_DICT = {key_1 : value_1, key_2 : "value_2", "key_3" : value_3}
```

Sebuah dictionary terdapat key dan value. Untuk **mengakses value** di dalamnya, kita bisa menggunakan notasi **kurung siku** `NAMA_DICT[KEY]`, mirip dengan cara kita mengakses element dalam `list` dengan kurung siku yang berisi indeks.

Sebuah `dictinonary` memiliki sifat `mutable` **(bisa diubah)** dan `immutable` **(tidak bisa diubah)**. Yang bisa diubah dari dictionary adalah value-nya, namun untuk key-nya sendiri tidak dapat diubah

Dictionary memiliki banyak method untuk mempermudah pekerjaan. Beberapa method yang sering digunakan diantaranya:
```
len()
get()
keys()
values()
pop()
update()
copy()
clear()
```

### **4. Tuple**

Tuple sangat mirip dengan list, perbedaan pentingnya adalah tuple tidak dapat diubah (immutable)

tuple dalam python di representasikan dengan tanda kurung () dan elementnya dipisahkan oleh tanda koma ,

Contoh sebuah tuple:
```python
my_typle = ("Apel", "Jeruk", "Mangga")
```

Kita tetap bisa melakukan **indexing** dan **slicing** seperti pada List, Namun kita tidak bisa mengubah element pada tuple karena sifatnya immutable.

Beberapa method pada tuple:


```
len()
in
index()
count()
+
```

### **5. Set**

Set adalah sebuah struktur data yang memungkinkan kita untuk menyimpan sebuah data dengan tidak berurutan (unordered) dan setiap element di dalam set adalah Unik (tidak boleh ada duplikat).

Sebuah `set` dalam python di representasikan dengan **tanda kurung kurawal** `{}` dan dipisahkan oleh **tanda koma** `,`

Contoh sebuah tuple:
```python
my_set = {'Kecapung', 'Bunglon', 'Komodo'}
``` 

Set sendiri merupakan tipe data yang bisa diubah **(mutable)**, namun **element** pada set tidak bisa dimodifikasi atau di ubah (immutable)

Set juga memiliki beberapa method untuk memudahkan dalam pekerjaan, seperti:


```
len()
in
add()
update()
discard()
union()
intersection()
```

## **Case Study 1: Analisa Profit**
___

Sebagai data analis sebuah perusahaan, anda diperintahkan oleh atasan untuk menganalisa profit yang didapatkan selama satu tahun. Data profit perusahaan disajikan dalam bentuk setiap bulan seperti pada tabel berikut:

|Bulan|Profit|
|-|-|
|Januari|192.400.000|
|Februari|231.600.000|
|Maret|282.600.000|
|April|259.800.000|
|Mei|255.600.000|
|Juni|241.800.000|
|Juli|265.200.000|
|Agustus|234.600.000|
|September|210.200.000|
|Oktober|180.200.000|
|November|200.800.000|
|Desember|202.400.000|

### **1A**.

Buatlah sebuah list yang menampung hanya profitnya saja dari data tersebut!

In [4]:
# buat sebuah list
# List of profit values
profits = [
    192400000, 231600000, 282600000, 259800000, 255600000,
    241800000, 265200000, 234600000, 210200000, 180200000,
    200800000, 202400000
]
               
# print list tersebut
print(profits)

[192400000, 231600000, 282600000, 259800000, 255600000, 241800000, 265200000, 234600000, 210200000, 180200000, 200800000, 202400000]

### **1B**.

Carilah rata-rata profit selama 1 tahun.


```
Keterangan : 
 - gunakan sum() untuk menjumlahkan semua nilai di dalam list
 - pakai len() untuk mengetahui panjang list
 - hasil perhitungan bulatkan 2 angka dibelakang koma
```

In [9]:
# buat sebuah variabel dahulu untuk menyimpan rata-rata
avg_profit = round(sum(profits)/len(profits),2)
# kemudian print rata-rata profit
print(f'Rata-rata profit yang didapatkan selama satu tahun = Rp {avg_profit:.2f}')

Rata-rata profit yang didapatkan selama satu tahun = Rp 229766666.67

### **1C**.

Berapakah profit terbesar yang pernah diperoleh ?



```
Keterangan:
- Gunakan method max() pada list
```

In [11]:
# buat variabel dan cari profit terbesar dari list yang sudah dibuat
# gunakan variabel list pada nomor 1A
max_profit = max(profits)

# kemudian print profit terbesar yang didapatkan
print(f"Profit terbesar yang pernah didapatkan adalah Rp {max_profit}")

Profit terbesar yang pernah didapatkan adalah Rp 282600000

Berapakah profit terkecil yang pernah diperoleh ?



```
Keterangan:
- Gunakan method min() pada list
```

In [14]:
# buat variabel dan cari profit terkecil dari list yang sudah dibuat
# gunakan variabel list pada nomor 1A
min_profit = min(profits)

# kemudian print profit terkecil yang pernah didapatkan
print(f'Profit terkecil yang pernah didapatkan adalah Rp {min_profit}')

Profit terkecil yang pernah didapatkan adalah Rp 180200000

### **1E**.

Carilah rata-rata profit 6 bulan pertama (Januari - Juni) dan 6 bulan kedua (Juli - Desember)



```
Keterangan:
- Gunakan method sum() dan len()
- bulatkan 2 angka di belakang koma
```

In [28]:
# buat variabel dan hitung rata-rata profit 6 bulan pertama
avg_1 = round(sum(profits[:6])/len(profits[:6]),2)

# buat variabel dan hitung rata-rata profit 6 bulan kedua
avg_2 = round(sum(profits[6:])/len(profits[6:]),2)

# print dan bulatkan hasil rata-rata dua angka di belakang koma
print(f'Profit 6 bulan pertama Rp {avg_1}')
print(f'Profit 6 bulan kedua Rp {avg_2}')

Profit 6 bulan pertama Rp 243966666.67
Profit 6 bulan kedua Rp 215566666.67

## **Case Study 2: Gaji Karyawan Perusahaan**
___

Karyawan Perusahaan T memiliki gaji sebagai berikut

|Nama Karyawan | Gaji|
|-|-|
|Wawan | 4.500.000|
|Dilla | 4.000.000|
|Leo | 4.000.000|
|Ayu| 3.500.000|
|Lutfi | 3.200.000|

### **2A**.

Buatlah sebuah dictionary untuk menyimpan nama dan gaji karyawan Perusahaan T.


```
Keterangan:
 - bentuk dictionary = {nama_karyawan:gaji}
```

In [2]:
# buat variabel dahulu untuk menyimpan dictionary-nya
salary = {"Wawan" : 4_500_000,"Dilla" : 4_000_000,"Leo" : 4_000_000, "Ayu" : 3_500_000,"Lutfi" : 3_200_000}

# kemudian print gaji masing-masing karyawan
print(salary)

{'Wawan': 4500000, 'Dilla': 4000000, 'Leo': 4000000, 'Ayu': 3500000, 'Lutfi': 3200000}

### **2B**.

Karena perusahaan T merasa kekurangan karyawan, Pimpinan akan merekrut tiga karyawan baru. Tiga karyawan tersebut adalah

|Nama|Gaji|
|-|-|
|Ezra|3.200.000|
|Ricardo|3.200.000|
|Samsul|3.500.000|

Masukkan tiga karyawan baru tersebut ke dalam variabel dict yang sudah anda buat di soal nomor 2A tadi!


```
Keterangan:
- Gunakan method update()
```

In [3]:
# buat dictionary baru untuk menyimpan karyawan yang baru masuk
new_employes = {"Ezra" : 3_200_000,"Ricardo" : 3_200_000,"Samsul" : 3_500_000}

# gunakan method update untuk menambahkan karyawan baru
salary.update(new_employes)

# print variabel dictionary yang digunakan untuk menyimpan nama karyawan
print(salary)

{'Wawan': 4500000, 'Dilla': 4000000, 'Leo': 4000000, 'Ayu': 3500000, 'Lutfi': 3200000, 'Ezra': 3200000, 'Ricardo': 3200000, 'Samsul': 3500000}

### **2C**

Leo dipromosikan jabatannya menjadi lebih tinggi karena pekerjaanya yang bagus. Gaji Leo naik menjadi 7.500.000.

Ubah gaji Leo di dalam dictionary!

In [5]:
# ubah gaji Leo menjadi 7.500.000
salary['Leo'] = 7_500_000

# print gaji Leo sekarang
print(f"Gaji Leo sekarang adalah Rp {salary['Leo']}")

Gaji Leo sekarang adalah Rp 7500000

## **Case Study 3: Koleksi Mainan**
___

Rizki memiliki sebuah koleksi mainan berbentuk hewan yang banyak. Dia memindahkan mainannya ke kardus baru, karena kardus yang lama sudah rusak. Urutan mainan hewan yang dipindahkan adalah seperti berikut.


```
kuda, anjing, kucing, gajah, kucing, burung, ular, ayam, bebek, jerapah, macan, anjing, burung, kelinci
```

### **3A**.

Buatlah sebuah tuple untuk menyimpan mainan hewan Rizki

In [8]:
# buat sebuah variabel dahulu yang berisi urutan mainan yang dipindahkan
riki_toys = ('kuda', 'jerapah', 'macan', 'burung', 'kucing', 'kelinci', 'anjing', 'ular', 'ayam', 'gajah', 'bebek')

# print tuple tersebut
print(riki_toys)

('kuda', 'jerapah', 'macan', 'burung', 'kucing', 'kelinci', 'anjing', 'ular', 'ayam', 'gajah', 'bebek')

### **3B**.

Saat memasukkan ke dalam kardus baru Rizki sadar bahwa ada mainan hewan yang jumlahnya lebih dari satu.

Dengan fungsi `input()` coba munculkan banyak hewan tertentu yang dimiliki Rizki!



```
Keterangan
Misalkan kita ketik mainan hewan kelinci
akan muncul jumlah mainan tersebut
```

In [11]:
# buat sebuah variabel untuk menampung input
hewan = input("Masukkan mainan hewan yang ingin diketahui jumlahnya : ")

# hitung banyak hewan dalam tuple dengan method count()
# masukkan variabel yang dijadikan input tadi ke method count
total_animal = riki_toys.count(hewan)

# print jumlah mainan hewan yang ingin dicari
print(f"Jumlah mainan {hewan} yang dimiliki rizki sebanyak {total_animal}")

Masukkan mainan hewan yang ingin diketahui jumlahnya :  kucing

Jumlah mainan kucing yang dimiliki rizki sebanyak 1

## **Case Study 4: Inventori Gudang**
___

Perusahaan Z memiliki dua gudang yang digunakan untuk menyimpan barang yang telah selesai di produksi. Pak Handoko selaku pimpinan perusahaan menyuruh data analis di perusahaannya untuk menganalisis barang-barang yang ada di gudang tersebut.

```
Gudang satu memiliki barang dengan kode K090 K121 K890 K998 K541

Gudang dua memiliki barang dengan kode K090 K143 K776 K998 K797
```

### 4A.

Buatlah set untuk menyimpan kode barang yang ada di dua gudang tersebut.

In [16]:
# buatlah set untuk menyimpan kode barang gudang satu
inventory_1 = {"K090","K121","K890","K998","K541"}

# buatlah set untuk menyimpan kode barang gudang dua
inventory_2 = {"K090","K143","K776","K998","K797"}

### 4B.

Coba gabungkan inventori pada gudang satu dan dua


```
Keterangan:
 - gunakan method union()
```

In [17]:
# buatlah variabel baru untuk menyimpan gabungan dari dua set tersebut
# gunakan variabel set gudang pada soal 4A
inventory = inventory_1.union(inventory_2)

# print atau tampilkan set dari variabel baru tersebut
print(inventory)

{'K797', 'K090', 'K541', 'K890', 'K121', 'K776', 'K998', 'K143'}

### **4C**

Pak Handoko ingin tahu kode barang apa saja yang disimpan di gudang satu namun juga disimpan di gudang dua.


```
Keterangan:
- gunakan method intersection()
```

In [20]:
# buat variabel untuk menampung hasil method intersection
# gunakan variabel set gudang pada soal 4A
intersec = inventory_1.intersection(inventory_2)

# print hasil dari method intersection()
print(f"Kode barang yang disimpan di gudang satu sekaligus gudang dua adalah {intersec}")

Kode barang yang disimpan di gudang satu sekaligus gudang dua adalah {'K998', 'K090'}