# Week 6 - Data Cleansing & Manipulation
---

Mentoring Session - Job Preparation Program - Pacmann AI

In [ ]:
# Please load this library
import numpy as np
import pandas as pd
import os

# Task 1. Merge Transactions Data Across Branches

---

## Task Descriptions
---

- Toko Serba Ada has several branches across the country.
- Toko Serba Ada manager wants to merge the transactions data across branches.
- Your task is to create a function to join multiple transaction files.
- Download the transactions files [here](https://drive.google.com/drive/folders/1bJ5EWEHwx3xXlSLVyUYjjK2D6v_br-hb?usp=sharing).

## Detail function
---

- Create a function called by `import_data`.
- The function only needs one input, `filenames` (`list`), a list of transactions data files.
- The `import_data` function will join every data listed on the filenames as a Pandas DataFrame.

## Examples
---

**Input**

```python
# Masukkan input
filenames = [
    'branch_A.xlsx',
    'branch_B.csv',
    'branch_C.csv'
]

# Import data
data = import_data(filenames = filenames)

# Validasi hasil
print('Data shape:', data.shape)
data.head(5)
```

**Output**
```
Data shape: (1000, 17)
```
<img src="https://drive.google.com/uc?id=10VjyzDyInVbeqb6E5a0AlnU5DuZCx3ef" />

## Answer
---

- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
# Write your function in here

def import_data(filenames):
    """
        This function is only to concatenate the rows of data
        and assume the column has the same name, length and same ordered
    """
    # create an Empty DataFrame object
    l_data = []
    if filenames:
        for item in filenames:
            data = read_data(item)
            l_data.append(data)
        data = pd.concat(l_data, axis=0, ignore_index=True)
        return data
    return "Empty Data"


def read_data(filename):
    _,file_extension= os.path.splitext(filename)
    r_data = check_format(file_extension,filename)
    if not r_data.empty:
        return r_data

    print(f"Extention is not found : {file_extension}")

def check_format(f_extension,filename):
    # Dictionary of functions to read files based on extension
    s_format = {
        ".csv": lambda: pd.read_csv(filename, encoding='utf8', sep=';'),
        ".xlsx": lambda: pd.read_excel(filename)
    }

    # Check if the extension is supported
    if f_extension in s_format:
        return s_format[f_extension]()
    else:
        raise ValueError(f"Unsupported file extension: {f_extension}")

In [ ]:
# Masukkan input
filenames = [
    'branch_A.xlsx',
    'branch_B.csv',
    'branch_C.csv'
]

# Import data
data = import_data(filenames = filenames)

# Validasi hasil
print('Data shape:', data.shape)
data.head(5)

Data shape: (1000, 17)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
2,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
3,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
4,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8

# Task 2. Get the Unwatched Movie

---

## Task Descriptions
---

- You are a data analyst in a movie industry
- The product team ask you to recommend something new for a user to watch.
- You easily think of recommending the unwatched movies for a specific user Id.
- To recommend the unwatched movies nicely in the website, the engineering team needs you to return 3 things
  - `movieId`
  - `title`
  - `genres`
- Your task is to **create a function** to return the unwatched movies from a specific user id based on engineering team requirements.
- You can download your dataset in [here](https://drive.google.com/drive/folders/1HSa7KStIlOS7rXY5ykwGZR6l9P-AJrKj?usp=sharing).
  - `ratings.csv` contains the user activity after watching movies, i.e. give a rating to each movie they watched.
  - `movies.csv` contains the movie metadata (movie ID, title, and genre)
- The dataset originally comes from **MovieLens**

## Detail function
---

- Create a function called `get_unwatched_movie`
- The function needs two input
  - `userId` (`int`): The targeted user ID
  - `config` (`dict`): The configuration files where the engineering team store the user-data and movie metadata. Example

  ```python
  config = {
      'path': {
          'user_data': 'ratings.csv',
          'metadata': 'movies.csv'
      }
  }
  ```

- The function return an output in pandas DataFrame type with `movieId` as an index and two columns of `title` and `genres`.

## Examples
---

**Define the Configuration Variable**

```python
# Define CONFIG variable
CONFIG = {
    'path': {
        'user_data': 'ratings.csv',
        'metadata': 'movies.csv'
    }
}
```

---
**Input 1**

```python
# Cari unwatched data untuk userId = 3
unwatched_data = get_unwatched_movie(userId = 3,
                                     config = CONFIG)

print('Data shape:', unwatched_data.shape)
unwatched_data.sample(n=5, random_state=42)
```

**Output 1**
```
Data shape: (9703, 2)
```
<img src="https://drive.google.com/uc?id=18R0Ym9NplzBnu12hBU10DR8tgFBiQhp6"/>

---
**Input 2**

```python
# Cari unwatched data untuk userId = 10
unwatched_data = get_unwatched_movie(userId = 10,
                                     config = CONFIG)

print('Data shape:', unwatched_data.shape)
unwatched_data.sample(n=5, random_state=42)
```

**Output 2**
```
Data shape: (9602, 2)
```
<img src="https://drive.google.com/uc?id=1m8igXpZ5zS75ioV1tT8gIpLvtrh7TdrK"/>

---
**Input 3**

```python
# Cari unwatched data untuk userId = 3
unwatched_data = get_unwatched_movie(userId = 3,
                                     config = CONFIG)

print('Data shape:', unwatched_data.shape)
unwatched_data.sample(n=5, random_state=42)
```

**Output 3**
```
Data shape: (9402, 2)
```
<img src="https://drive.google.com/uc?id=1R-BLxcY8Bf3XUxB2Ikf95wafj_1iRNCg"/>

## Answer
---

- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
# Write your function in here
def get_unwatched_movie(userId,config):
    try:
        if userId:
            df = read_data(config)
            ratings = df['user_data']
            filter_user = ratings[ratings['userId'] == userId]
            merge_movies = df['metadata'].merge(filter_user,how='left',on='movieId')
            new_df = merge_movies[merge_movies['userId'].isnull()]
            unwatched_movies = transform_df(new_df)
            return unwatched_movies
    except Exception as err:
        raise ValueError(str(err))


def read_data(config):
    try:
        path_data = {}
        data = config['path']
        for key,filename in data.items():
            _,file_extension= os.path.splitext(filename)
            path_data[key]= check_format(file_extension,filename)
        if path_data:
            return path_data

        print(f"Extention is not found : {file_extension}")

    except Exception as err:
        raise ValueError(str(err))

def check_format(f_extension,filename):
    try:
        # Dictionary of functions to read files based on extension
        s_format = {
            ".csv": lambda: pd.read_csv(filename),
            ".xlsx": lambda: pd.read_excel(filename)
        }

        # Check if the extension is supported
        if f_extension in s_format:
            return s_format[f_extension]()
        else:
            raise ValueError(f"Unsupported file extension: {f_extension}")
    except Exception as err:
        raise ValueError(str(err))

def transform_df(df):
    try:
        data = df[["movieId","title","genres"]]
        data.set_index("movieId",inplace=True)
        return data
    except Exception as err:
        raise ValueError(str(err))

In [ ]:
# Define CONFIG variable
CONFIG = {
    'path': {
        'user_data': 'ratings.csv',
        'metadata': 'movies.csv'
    }
}

# Cari unwatched data untuk userId = 3
unwatched_data = get_unwatched_movie(userId = 3,
                                     config = CONFIG)

print('Data shape:', unwatched_data.shape)
unwatched_data
unwatched_data.sample(n=5, random_state=42)

Data shape: (9703, 2)

,title,genres
movieId,,
553,Tombstone (1993),Action|Drama|Western
85025,"Eagle, The (2011)",Adventure|Drama
78836,Enter the Void (2009),Drama
2296,"Night at the Roxbury, A (1998)",Comedy
46970,Talladega Nights: The Ballad of Ricky Bobby (2...,Action|Comedy

# Task 3. Get the House Recommendation

---

## Task Descriptions
---

- Assume you work as a Data Analyst in Travelio.
- The product team request you to give its users housing recommendations based on their current location and housing preferences.
- Please create a function to answer the product team request.
- You can find the dataset [here](https://drive.google.com/file/d/1D5phg8q0MiX4lRKlEaBWHT07MoEgEr28/view?usp=sharing).
- **Note**: The dataset is scrapped by Pacmann from the Travelio website for educational purposes only.

## Detail function
---

- Create a function called by `get_user_recommendation` that return the top-$n$ housing recommendation for a specific user location & preferences sorted by the nearest distance between user location and house location.
- The function needs three input, i.e.
    - `n` (`int`): the maximum number of recommendation.
    - `user_config` (`dict`): the user configuration data. It contains the user preferences and user current location.
    - `data_config` (`dict`): the data configuration that contains the housing data path.
- The output is a dataframe type with similar data columns to the dataset.
---
- We filter using 5 preferences, that is
  - `property_type`. It should return `apartment` or `house`.
  - `size`. It should return houses that is **larger than or equal to** the given `size`.
  - `capacity`. It should return houses that is **more than or equal to** the given `capacity`.
  - `is_furnished`. It should return `Full Furnished` or `Unfurnished`.
  - `yearly_price`. It should return houses that is **less than or equal to** the given `yearly_price` rent
- If user fill nothing (`None`), then you should not filter anything.
---
- Please use the **Haversine** distance to calculate the distance between user and houses.
- We intentionally not giving you the Haversine distance formula. Please explore it by yourself.

## Examples
---

---
**Input 1**

```python
# Define the user data
user_config = {
    'preferences': {
        'property_type': None,
        'size': 30.0,
        'capacity': 2,
        'is_furnished': 'Full Furnished',
        'yearly_price': 50000000
    },
    'location': {
        # Dekat Bintaro Plaza
        'latitude': -6.2734,
        'longitude': 106.7364
    }
}

data_config = {
    'path': 'travelio_dki_jakarta.csv'
}

# Run the function
user_recommendation = get_user_recommendation(n = 10,
                                              user_config = user_config,
                                              data_config = data_config)

# Validate
print('Data Shape:', user_recommendation.shape)
user_recommendation
```

**Output 1**
```
Data Shape: (10, 16)
```
<img src="https://drive.google.com/uc?id=1Ek8VjhgOqWh18T1zEvn0b5zZIKlMt1wG"/>

---
**Input 2**

```python
# Define the user data
user_config = {
    'preferences': {
        'property_type': None,
        'size': 45.0,
        'capacity': 4,
        'is_furnished': None,
        'yearly_price': 25000000
    },
    'location': {
        # Dekat Monumen Nasional (Monas)
        'latitude': -6.1792,
        'longitude': 106.8265
    }
}

data_config = {
    'path': 'travelio_dki_jakarta.csv'
}

# Run the function
user_recommendation = get_user_recommendation(n = 10,
                                              user_config = user_config,
                                              data_config = data_config)

# Validate
print('Data Shape:', user_recommendation.shape)
user_recommendation
```

**Output 2**
```
Data Shape: (10, 16)
```
<img src="https://drive.google.com/uc?id=14eIe-BjfjTM53Y3m9ObdoQ2nKVWgUGiY"/>

---
**Input 3**

```python
# Define the user data
user_config = {
    'preferences': {
        'property_type': None,
        'size': 60.0,
        'capacity': 4,
        'is_furnished': None,
        'yearly_price': 25000000
    },
    'location': {
        # Dekat Kota Tua Jakarta
        'latitude': -6.1378,
        'longitude': 106.8144
    }
}

data_config = {
    'path': 'travelio_dki_jakarta.csv'
}

# Run the function
user_recommendation = get_user_recommendation(n = 10,
                                              user_config = user_config,
                                              data_config = data_config)

# Validate
print('Data Shape:', user_recommendation.shape)
user_recommendation
```

**Output 3**
```
Data Shape: (6, 16)
```
<img src="https://drive.google.com/uc?id=1WAjuLElzpxuECoh8ArhD2XeWEj1T3blk"/>

## Answer
---

- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
# Write your function in here
def get_user_recommendation(n,user_config,data_config):
    try:
        if n and data_config:
          # Load the data
          df = read_data(data_config)
          # return df
          # Apply filters based on user preferences
          preferences = user_config['preferences']

          # Apply filters based on user preferences if they are provided (not None)
          preferences = user_config['preferences']

          if preferences['property_type'] is not None:
              df = df[df['property_type'] == preferences['property_type']]

          if preferences['size'] is not None:
              df = df[df['size'] >= preferences['size']]

          if preferences['capacity'] is not None:
              df = df[df['capacity'] >= preferences['capacity']]

          if preferences['is_furnished'] is not None:
              df = df[df['is_furnished'] == preferences['is_furnished']]

          if preferences['yearly_price'] is not None:
              df = df[df['yearly_price'] <= preferences['yearly_price']]

          # Calculate distance from the user's location to each property
          user_location = user_config['location']
          df['distance'] = df.apply(lambda row: haversine(user_location['latitude'], user_location['longitude'],
                                                          row['latitude'], row['longitude']), axis=1)

          # Sort by distance and return the top-N recommendations
          df_sorted = df.sort_values(by='distance')
          top_n_recommendations = df_sorted.head(n)

          return top_n_recommendations

    except Exception as err:
        raise ValueError(str(err))


def read_data(config):
    try:
        for key,filename in config.items():
            _,file_extension= os.path.splitext(filename)
            data= check_format(file_extension,filename)
        if not data.empty:
            return data

        print(f"Extention is not found : {file_extension}")

    except Exception as err:
        raise ValueError(str(err))

def check_format(f_extension,filename):
    try:
        # Dictionary of functions to read files based on extension
        s_format = {
            ".csv": lambda: pd.read_csv(filename),
            ".xlsx": lambda: pd.read_excel(filename)
        }

        # Check if the extension is supported
        if f_extension in s_format:
            return s_format[f_extension]()
        else:
            raise ValueError(f"Unsupported file extension: {f_extension}")
    except Exception as err:
        raise ValueError(str(err))


def haversine(lat1, lon1, lat2, lon2):
    r = 6371  # Earth radius in kilometers
    phi1, phi2 = np.radians(lat1), np.radians(lat2)
    delta_phi = np.radians(lat2 - lat1)
    delta_lambda = np.radians(lon2 - lon1)

    a = np.sin(delta_phi / 2) ** 2 + np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda / 2) ** 2
    c = 2 * np.arcsin(np.sqrt(a))

    return r * c


# Define the user data
user_config = {
    'preferences': {
        'property_type': None,
        'size': 60.0,
        'capacity': 4,
        'is_furnished': None,
        'yearly_price': 25000000
    },
    'location': {
        # Dekat Kota Tua Jakarta
        'latitude': -6.1378,
        'longitude': 106.8144
    }
}



data_config = {
    'path': 'travelio_dki_jakarta.csv'
}

# Run the function
user_recommendation = get_user_recommendation(n = 10,
                                              user_config = user_config,
                                              data_config = data_config)

user_recommendation

,ads_name,property_type,apartment_name,area,region,city,latitude,longitude,bedrooms,bathrooms,size,is_furnished,capacity,rating,yearly_price,property_management_type,distance
3257,Unfurnished 4BR House at Tanah Merdeka Cilinci...,house,NaN,Jakarta Utara,DKI Jakarta,Jakarta,-6.106318,106.920193,4,1,93.0,Unfurnished,9,NaN,22000000,REALTY,12.209173
3260,Strategic 3BR House in Cilincing By Travelio R...,house,NaN,Jakarta Utara,DKI Jakarta,Jakarta,-6.116879,106.927530,3,3,108.0,Full Furnished,6,NaN,24000000,REALTY,12.722114
3259,Unfurnished 2BR House at Malaka 1 Cilincing By...,house,NaN,Jakarta Utara,DKI Jakarta,Jakarta,-6.137113,106.956038,2,1,60.0,Unfurnished,4,NaN,23000000,REALTY,15.659342
3264,Unfurnished 2BR House at Jakarta Timur near Ha...,house,NaN,Halim Perdanakusuma,DKI Jakarta,Jakarta,-6.266901,106.877731,2,2,90.0,Unfurnished,4,NaN,25000000,REALTY,15.971496
3265,Unfurnished 2BR House at Kebagusan Wates By Tr...,house,NaN,Kebagusan,DKI Jakarta,Jakarta,-6.318913,106.825159,2,1,70.0,Unfurnished,4,NaN,25000000,REALTY,20.173908
3262,Unfurnished 2BR House at Belly Pekayon By Trav...,house,NaN,Pasar Rebo,DKI Jakarta,Jakarta,-6.332795,106.865617,2,2,100.0,Unfurnished,4,NaN,24000000,REALTY,22.409374

# Task 4. Export the Promising State

---

## Task Descriptions
---

- Assumed you are a data analyst in Amazon.
- Your supervisor ask you to export a promising state sales data based on its market share to a .csv files, thus each state representatives can analyst the sales data further.
- A promising state is a state that has its market share bigger or equal to a specified threshold.
- The market share of a specific state is defined as number of order on a specific state / total order.
- Write a function to help your supervisor!
- Download your data in [here](https://drive.google.com/file/d/1oRAPo7ZST2i_pHAIWP2_KoLraniUwyME/view?usp=sharing).
- The actual data source is in [here](https://www.kaggle.com/datasets/thedevastator/unlock-profits-with-e-commerce-sales-data?select=Amazon+Sale+Report.csv).

## Detail function
---

- Create a function called by `export_promising_state`
- This function needs two inputs
  - `config_file` (`dict`) contains the input and output path
  - `thresh` (`float`) contains the given market share threshold.
- This function returns nothing.
- If you cannot find any promising state based on the given threshold, then print `No promising state`.
- If you can find promising state,
  - First, drop column `index` and `Unnamed: 22` from the promising data.
  - Save the promising data with format: `folder_path` + `state-name` + `-sales-reports.csv`, e.g.: `sales_data/telangana-sales-reports.csv`
  - Write the prompt after successfully exporting data that includes the state market share and state sales data shape.

## Examples
---

**Define the Configuration Variable**

```python
# Define CONFIG variable
config_file = {
    'path': {
        'input': 'Amazon Sale Report.csv',
        'output': 'sales_data/'
    }
}
```

---
**Input 1**

```python
# Input 1
export_promising_state(config_file = config_file,
                       thresh = 0.10)
```

**Output 1**
```
Data of state "karnataka" was successfully exported into "sales_data/karnataka-sales-reports.csv"
  - State market share : 13.43 %
  - Data shape         : (17326, 22)

Data of state "maharashtra" was successfully exported into "sales_data/maharashtra-sales-reports.csv"
  - State market share : 17.26 %
  - Data shape         : (22260, 22)
```

Example of the created files: <br>
<img src="https://drive.google.com/uc?id=1C1r8SKoRHbKX0upPl5VDrzuf4Mi0joiC"/>

---
**Input 2**

```python
# Input 2
export_promising_state(config_file = config_file,
                       thresh = 0.05)
```

**Output 2**
```
Data of state "telangana" was successfully exported into "sales_data/telangana-sales-reports.csv"
  - State market share : 8.78 %
  - Data shape         : (11330, 22)

Data of state "kerala" was successfully exported into "sales_data/kerala-sales-reports.csv"
  - State market share : 5.11 %
  - Data shape         : (6585, 22)

Data of state "delhi" was successfully exported into "sales_data/delhi-sales-reports.csv"
  - State market share : 5.40 %
  - Data shape         : (6967, 22)

Data of state "uttar pradesh" was successfully exported into "sales_data/uttar pradesh-sales-reports.csv"
  - State market share : 8.25 %
  - Data shape         : (10638, 22)

Data of state "karnataka" was successfully exported into "sales_data/karnataka-sales-reports.csv"
  - State market share : 13.43 %
  - Data shape         : (17326, 22)

Data of state "tamil nadu" was successfully exported into "sales_data/tamil nadu-sales-reports.csv"
  - State market share : 8.90 %
  - Data shape         : (11483, 22)

Data of state "maharashtra" was successfully exported into "sales_data/maharashtra-sales-reports.csv"
  - State market share : 17.26 %
  - Data shape         : (22260, 22)
```

Example of the created files: <br>
<img src="https://drive.google.com/uc?id=1ujeDK87N4MLk1_9Uew4lkIeFA81_DtDw"/>

---
**Input 3**

```python
# Input 3
export_promising_state(config_file = config_file,
                       thresh = 0.4)
```

**Output 3**
```
No promising state
```
<img src=""/>

## Answer
---

- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
def export_promising_state(config_file: dict, thresh: float):
    # Extract paths from config_file
    input_path = config_file['path']['input']
    output_path = config_file['path']['output']

    # Load the dataset
    try:
        df = pd.read_csv(input_path)
    except FileNotFoundError:
        print(f"Error: The file at {input_path} was not found.")
        return

    # Print the columns to debug the issue
    print("Columns in the dataset:", df.columns.tolist())

    # Rename columns for easier access if necessary
    df.rename(columns={'ship-state': 'state', 'Amount': 'sales_amount'}, inplace=True)

    # Calculate the total sales amount
    total_sales = df['sales_amount'].sum()

    # Calculate market share for each state
    market_share_df = df.groupby('state').agg({'sales_amount': 'sum'}).reset_index()
    market_share_df['market_share'] = (market_share_df['sales_amount'] / total_sales) * 100

    # Filter based on the threshold
    promising_states = market_share_df[market_share_df['market_share'] >= thresh]

    # Check if there are any promising states
    if promising_states.empty:
        print("No promising state")
        return

    # Drop columns 'index' and 'Unnamed: 22' if they exist
    columns_to_drop = ['index', 'Unnamed: 22']
    columns_to_drop = [col for col in columns_to_drop if col in df.columns]
    df = df.drop(columns=columns_to_drop)

    # Process each promising state
    for state in promising_states['state'].unique():
        state_data = df[df['state'] == state]
        file_name = f"{output_path}{state.lower()}-sales-reports.csv"
        state_data.to_csv(file_name, index=False)

        # Print the message after successful export
        state_market_share = promising_states[promising_states['state'] == state]['market_share'].values[0]
        print(f"Data of state \"{state}\" was successfully exported into \"{file_name}\"")
        print(f"  - State market share : {state_market_share:.2f} %")
        print(f"  - Data shape         : {state_data.shape}")

In [ ]:
# Example usage
config_file = {
    'path': {
        'input': 'Amazon Sale Report.csv',
        'output': 'sales_data/'
    }
}

# Input 1
export_promising_state(config_file = config_file, thresh = 0.10)

<ipython-input-102-b198d11d79e7>:8: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_path)

Columns in the dataset: ['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids', 'B2B', 'fulfilled-by', 'Unnamed: 22']
Data of state "ANDAMAN & NICOBAR " was successfully exported into "sales_data/andaman & nicobar -sales-reports.csv"
  - State market share : 0.20 %
  - Data shape         : (257, 22)
Data of state "ANDHRA PRADESH" was successfully exported into "sales_data/andhra pradesh-sales-reports.csv"
  - State market share : 4.10 %
  - Data shape         : (5430, 22)
Data of state "ARUNACHAL PRADESH" was successfully exported into "sales_data/arunachal pradesh-sales-reports.csv"
  - State market share : 0.12 %
  - Data shape         : (141, 22)
Data of state "ASSAM" was successfully exported into "sales_data/assam-sales-reports.csv"
  - State market share : 1.30 %
  - Data shape         : (1663, 22)
Data of state "BIHAR" was successfully exported into "sales_data/bihar-sales-reports.csv"
  - State market share : 1.77 %
  - Data shape         : (2086, 22)
Data of state "CHANDIGARH" was successfully exported into "sales_data/chandigarh-sales-reports.csv"
  - State market share : 0.26 %
  - Data shape         : (322, 22)
Data of state "CHHATTISGARH" was successfully exported into "sales_data/chhattisgarh-sales-reports.csv"
  - State market share : 0.73 %
  - Data shape         : (909, 22)
Data of state "DELHI" was successfully exported into "sales_data/delhi-sales-reports.csv"
  - State market share : 5.39 %
  - Data shape         : (6782, 22)
Data of state "Delhi" was successfully exported into "sales_data/delhi-sales-reports.csv"
  - State market share : 0.12 %
  - Data shape         : (164, 22)
Data of state "GOA" was successfully exported into "sales_data/goa-sales-reports.csv"
  - State market share : 0.79 %
  - Data shape         : (1102, 22)
Data of state "Gujarat" was successfully exported into "sales_data/gujarat-sales-reports.csv"
  - State market share : 3.47 %
  - Data shape         : (4489, 22)
Data of state "HARYANA" was successfully exported into "sales_data/haryana-sales-reports.csv"
  - State market share : 3.67 %
  - Data shape         : (4415, 22)
Data of state "HIMACHAL PRADESH" was successfully exported into "sales_data/himachal pradesh-sales-reports.csv"
  - State market share : 0.64 %
  - Data shape         : (788, 22)
Data of state "JAMMU & KASHMIR" was successfully exported into "sales_data/jammu & kashmir-sales-reports.csv"
  - State market share : 0.58 %
  - Data shape         : (702, 22)
Data of state "JHARKHAND" was successfully exported into "sales_data/jharkhand-sales-reports.csv"
  - State market share : 1.17 %
  - Data shape         : (1456, 22)
Data of state "KARNATAKA" was successfully exported into "sales_data/karnataka-sales-reports.csv"
  - State market share : 13.34 %
  - Data shape         : (17326, 22)
Data of state "KERALA" was successfully exported into "sales_data/kerala-sales-reports.csv"
  - State market share : 4.87 %
  - Data shape         : (6585, 22)
Data of state "MADHYA PRADESH" was successfully exported into "sales_data/madhya pradesh-sales-reports.csv"
  - State market share : 2.03 %
  - Data shape         : (2529, 22)
Data of state "MAHARASHTRA" was successfully exported into "sales_data/maharashtra-sales-reports.csv"
  - State market share : 16.97 %
  - Data shape         : (22260, 22)
Data of state "MANIPUR" was successfully exported into "sales_data/manipur-sales-reports.csv"
  - State market share : 0.27 %
  - Data shape         : (311, 22)
Data of state "MEGHALAYA" was successfully exported into "sales_data/meghalaya-sales-reports.csv"
  - State market share : 0.15 %
  - Data shape         : (204, 22)
Data of state "NAGALAND" was successfully exported into "sales_data/nagaland-sales-reports.csv"
  - State market share : 0.18 %
  - Data shape         : (184, 22)
Data of state "ODISHA" was successfully exported into "sales_data/odisha-sales-reports.csv"
  - State market share : 1.75 %
  - Data shape         : (2115, 22)
Data of state "PUDUCHERRY" was successfully exported into "sales_data/puducherry-sales-reports.csv"
  - State market share : 0.24 %
  - Data shape         : (349, 22)
Data of state "PUNJAB" was successfully exported into "sales_data/punjab-sales-reports.csv"
  - State market share : 1.50 %
  - Data shape         : (1869, 22)
Data of state "RAJASTHAN" was successfully exported into "sales_data/rajasthan-sales-reports.csv"
  - State market share : 2.18 %
  - Data shape         : (2650, 22)
Data of state "SIKKIM" was successfully exported into "sales_data/sikkim-sales-reports.csv"
  - State market share : 0.18 %
  - Data shape         : (202, 22)
Data of state "TAMIL NADU" was successfully exported into "sales_data/tamil nadu-sales-reports.csv"
  - State market share : 8.29 %
  - Data shape         : (11483, 22)
Data of state "TELANGANA" was successfully exported into "sales_data/telangana-sales-reports.csv"
  - State market share : 8.80 %
  - Data shape         : (11330, 22)
Data of state "TRIPURA" was successfully exported into "sales_data/tripura-sales-reports.csv"
  - State market share : 0.12 %
  - Data shape         : (151, 22)
Data of state "UTTAR PRADESH" was successfully exported into "sales_data/uttar pradesh-sales-reports.csv"
  - State market share : 8.67 %
  - Data shape         : (10638, 22)
Data of state "UTTARAKHAND" was successfully exported into "sales_data/uttarakhand-sales-reports.csv"
  - State market share : 1.24 %
  - Data shape         : (1553, 22)
Data of state "WEST BENGAL" was successfully exported into "sales_data/west bengal-sales-reports.csv"
  - State market share : 4.46 %
  - Data shape         : (5963, 22)

# Task 5.  Clean the AirBnB data
---

## Task Descriptions
---

- You are given a dataset of guests and hosts of AirBnB.
- This dataset contains the review given by a guest (`id`) to the listing.
- You want to analyze the review given by the guests by `neighborhood group`.
- But the data is not clean.
- Please clean the data by
  1. Dropping data with missing value
  2. Removing the unconsitency in `neighborhood group`
  3. Dropping the listing outliers/anomaly.
    - listing with anomaly rent price (please use IQR method to filter the outlier).
    - listing with anomaly `availability 365` (`availability 365` is defined as an indicator of the total number of days the listing is available for during the year)
  4. Drop duplicates data (if any)

**Dataset**
- Please download the dataset in [here](https://drive.google.com/file/d/19zOwcAkd7lTC_djAMgc5u1B7I2iPj5ek/view?usp=sharing)
- The actual data source is [here](https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata)

## Expected Output
---

The output should be:
```
Clean data shape: (98174, 26)
```

With the sample of the clean data

<center>
<img src="https://drive.google.com/uc?id=1ZmVMW41RbxCuKUcafic5CL9E0JAemdNk">

## Answer
---

- Provide the code for getting the expected output

In [ ]:
# Load the dataset
df = pd.read_csv('Airbnb_Open_Data.csv')

df.columns = df.columns.str.replace(' ', '_').str.lower()

df.head()

<ipython-input-69-1a6f5e6a4f2e>:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Airbnb_Open_Data.csv')

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [ ]:
# # Step 1: Drop rows with missing values
df.drop( columns = ["license","house_rules"], inplace = True)

# Print object type, shape, and head
print("df type:", type(df))
print("df shape:", df.shape)

df type: <class 'pandas.core.frame.DataFrame'>
df shape: (102599, 24)

In [ ]:
# Step 2: Fix inconsistencies in neighborhood group (optional, as per previous steps)
df['neighbourhood_group'] = df['neighbourhood_group'].str.lower().str.strip()
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [ ]:
# Step 2: Fix inconsistencies in neighborhood group (optional, as per previous steps)
df[["neighbourhood_group","neighbourhood"]].head()

  neighbourhood_group neighbourhood
0            brooklyn    Kensington
1           manhattan       Midtown
2           manhattan        Harlem
3            brooklyn  Clinton Hill
4           manhattan   East Harlem

In [ ]:
df["neighbourhood_group"].value_counts()

neighbourhood_group
manhattan        43792
brooklyn         41842
queens           13267
bronx             2712
staten island      955
brookln              1
manhatan             1
Name: count, dtype: int64

In [ ]:
df["neighbourhood_group"] = df["neighbourhood_group"].replace({"Brooklyn": "brooklyn"})
df["neighbourhood_group"] = df["neighbourhood_group"].replace({"manhatan": "manhattan"})
df["neighbourhood_group"].value_counts()

neighbourhood_group
manhattan        43793
brooklyn         41842
queens           13267
bronx             2712
staten island      955
brookln              1
Name: count, dtype: int64

In [ ]:
# Step 3: Clean the 'price' column
df["service_fee"] = df["service_fee"].str.replace("$", "").str.replace(",", "").astype(float)
df["price"] = df["price"].str.replace("$", "").str.replace(",", "").astype(float)
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,brooklyn,Kensington,40.64749,-73.97237,United States,...,193.0,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,manhattan,Midtown,40.75362,-73.98377,United States,...,28.0,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,manhattan,Harlem,40.80902,-73.94190,United States,...,124.0,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,74.0,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,manhattan,East Harlem,40.79851,-73.94399,United States,...,41.0,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [ ]:
# Remove outliers in 'price' using IQR
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound_price = Q1 - 1.5 * IQR
upper_bound_price = Q3 + 1.5 * IQR
df = df[(df['price'] >= lower_bound_price) & (df['price'] <= upper_bound_price)]

# Step 4: Clean the 'availability_365' column
# Ensure 'availability_365' is numeric
if df['availability_365'].dtype == 'object':
    df['availability_365'] = pd.to_numeric(df['availability_365'], errors='coerce')
    df = df.dropna(subset=['availability_365'])

# Remove outliers in 'availability_365' using IQR
Q1_avail = df['availability_365'].quantile(0.25)
Q3_avail = df['availability_365'].quantile(0.75)
IQR_avail = Q3_avail - Q1_avail
lower_bound_avail = Q1_avail - 1.5 * IQR_avail
upper_bound_avail = Q3_avail + 1.5 * IQR_avail
df = df[(df['availability_365'] >= lower_bound_avail) & (df['availability_365'] <= upper_bound_avail)]

# Step 5: Drop duplicate rows
df = df.drop_duplicates()

In [ ]:
df

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,brooklyn,Kensington,40.64749,-73.97237,United States,...,193.0,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,manhattan,Midtown,40.75362,-73.98377,United States,...,28.0,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,manhattan,Harlem,40.80902,-73.94190,United States,...,124.0,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,74.0,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,manhattan,East Harlem,40.79851,-73.94399,United States,...,41.0,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [ ]:
# df = df.dropna()

In [ ]:
print("Clean data shape: ", df.shape)

Clean data shape:  (101362, 26)

# Task 6. Calculate Month-Over-Month Percentage Change in Sales


---

## Task Descriptions
---

- Given a dataset of sales report by date, **calculate the mont-over-month percentage change in sales**.
- The ouput should include the year-month date (YYYY-MM) and percentage change, rounded to the 2nd decimal point, and sorted by `order-date` in ascending order.
- The percentage change column will be populated from the 2nd month forward and can be calculated as
$$
\cfrac
{(\text{this month's sales - last month's sales})}
{\text{last month's sales}} \cdot 100\%
$$

**Dataset**
- Please download the dataset in [here](https://drive.google.com/file/d/13QxDig8cXrT5ErVO2tytYdmksjbH3tep/view?usp=sharing)
- The actual data source is [here](https://www.kaggle.com/datasets/apoorvaappz/global-super-store-dataset)

## Expected Output
---

The output should be:

```
Data Shape: (48, 3)
````

With the first 12 entry of the final data is

<center>
<img src="https://drive.google.com/uc?id=1Qcj_OUVOqfFCwbau0XUJK9URL3BrX86u">

## Answer
---

- Provide the code for getting the expected output

In [ ]:
def clean_column_names(df):
    # Convert column names to lowercase and replace spaces with underscores
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    return df

def calculate_mom_percentage_change(file_path):
    # Load the dataset with appropriate encoding
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
    except UnicodeDecodeError:
        df = pd.read_csv(file_path, encoding='latin-1')

    # Clean column names
    df = clean_column_names(df)

    # Convert 'order_date' to datetime
    df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')

    # Extract Year-Month from 'order_date'
    df['year_month'] = df['order_date'].dt.to_period('M')

    # Group by 'year_month' and sum the sales
    monthly_sales = df.groupby('year_month')['sales'].sum().reset_index()

    # Calculate MoM percentage change
    monthly_sales['pct_change'] = monthly_sales['sales'].pct_change() * 100

    # Round to 2 decimal places
    monthly_sales['pct_change'] = monthly_sales['pct_change'].round(2)

    # Ensure the first month is included, even with NaN in pct_change
    monthly_sales = monthly_sales.sort_values('year_month')

    # Rename columns for clarity
    monthly_sales = monthly_sales.rename(columns={'year_month': 'year_month', 'pct_change': 'percentage_change'})

    return monthly_sales

# Usage
result_df = calculate_mom_percentage_change('Global_Superstore2.csv')
result_df.head(12)

<ipython-input-92-0295c7237fb8>:17: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')

   year_month         sales  percentage_change
0     2011-01   98898.48886                NaN
1     2011-02   91152.15698              -7.83
2     2011-03  145729.36736              59.87
3     2011-04  116915.76418             -19.77
4     2011-05  146747.83610              25.52
5     2011-06  215207.38022              46.65
6     2011-07  115510.41912             -46.33
7     2011-08  207581.49122              79.71
8     2011-09  290214.45534              39.81
9     2011-10  199071.26404             -31.41
10    2011-11  298496.53752              49.94
11    2011-12  333925.73460              11.87

# Task 7. Time to Purchase Duration


---

## Task Descriptions
---

- Given a dataset of an e-commerce events history in Electronic shop.
- Your task is to
  1. **calculate each user's time to purchase duration** and
  2. **find the tendency of user view-purchase duration** (please use a proper measure of central tendency).
- Time to purchase duration is defined as the time difference between `view` event and `purchase` event. Consider only the earliest view and purchase.
- The ouput should include `user_id` and their `view_purchase_duration` in minutes.

**Dataset**
- Please download the dataset in [here](https://drive.google.com/file/d/1GfFkxIbAivdY8bqbFbARCiyTzIuooKvV/view?usp=sharing)
- The actual data source is [here](https://www.kaggle.com/datasets/mkechinov/ecommerce-events-history-in-electronics-store/data)

## Expected Output
---

The output should be:
```
Data shape : (7847, 2)
Summary of user's view to purchase duration : 4.7 minutes
```

With the sample of final data

<center>
<img src="https://drive.google.com/uc?id=159zrsppCuawgqn9q0e1B63KJzqe9Pvz9">

## Answer
---

- Provide the code for getting the expected output

In [ ]:
# Write your code in here
# Provide your code with sufficient comment on the wrangling processes

# Load the dataset
df = pd.read_csv('event_samples.csv', encoding='utf-8')

# Convert 'event_time' to datetime
df['event_time'] = pd.to_datetime(df['event_time'])

# Separate view and purchase events
views = df[df['event_type'] == 'view']
purchases = df[df['event_type'] == 'purchase']

# Find the earliest view and purchase for each user
earliest_views = views.groupby('user_id')['event_time'].min().reset_index()
earliest_views = earliest_views.rename(columns={'event_time': 'first_view_time'})

earliest_purchases = purchases.groupby('user_id')['event_time'].min().reset_index()
earliest_purchases = earliest_purchases.rename(columns={'event_time': 'first_purchase_time'})

# Merge the two DataFrames on 'user_id'
user_times = pd.merge(earliest_views, earliest_purchases, on='user_id')

# Calculate the time to purchase duration in minutes
user_times['view_purchase_duration'] = (user_times['first_purchase_time'] - user_times['first_view_time']).dt.total_seconds() / 60  # Convert to minutes

# Drop rows where the duration might be NaN if there's no purchase or view
user_times = user_times.dropna(subset=['view_purchase_duration'])

# Output the data shape
print(f"Data shape : {user_times.shape}")

# Calculate and print the summary of user's view to purchase duration
summary_duration = user_times['view_purchase_duration'].mean()
print(f"Summary of user's view to purchase duration : {summary_duration:.1f} minutes")

Data shape : (7908, 4)
Summary of user's view to purchase duration : 1075.8 minutes