# **Pertemuan #2 - Primitive Data Structure**

Introduction to Python Course - Sekolah Data - Pacmann Academy

**Outline**

1. Review
2. Case 1 - Menghitung Gaji Karyawan
3. Case 2 - Menghitung Pajak Kendaraan
4. Case 3 - Edit Hasil Scrapping Media Sosial
5. Case 4 - Percetakan Banner

## **Review**
---

Materi yang sudah anda pelajari pada video learning Primitive Data Type adalah sebagai berikut:
```
  1. integer - bilangan bulat
  2. float - bilangan desimal
  3. string - karakter yang di definisikan dengan tanda kutip
  4. bolean (tidak dipelajari di materi ini) 
```
Cara untuk cek tipe data pada python bisa dengan syntax `type(VALUE)`

---
Jika dalam satu ekspresi matematika terdapat lebih dari satu operasi, maka harus di selesaikan berdasarkan operasi yang lebih tinggi prioritasnya. Untuk lebih mudah mengingat aturan ini bisa menggunakan akronim PEMDAS. 

```
- Parentheses -- ()
- Exponentiation -- **
- Multiplication -- *
- Division -- /
- Addition -- +
- Substraction -- -
```
---
String adalah kumpulan huruf kata atau karakter lain. Pada Python, string didefinisikan dengan tanda kutip (`""`). Tipe data string juga memiliki operator, operator yang sering digunakan di antaranya 
```
- Concatenation
- Repetition
- Slicing
```

String di Python juga memiliki beberapa method atau fungsi. method yang sering digunakan diantaranya :


```
- len()
- upper()
- lower()
- count()
- find()
- replace()
- capitalize()
- title()
```
---

## **Review**
---

Materi yang sudah anda pelajari pada video learning Primitive Data Type adalah sebagai berikut:
```
  1. integer - bilangan bulat
  2. float - bilangan desimal
  3. string - karakter yang di definisikan dengan tanda kutip
  4. bolean (tidak dipelajari di materi ini) 
```
Cara untuk cek tipe data pada python bisa dengan syntax `type(VALUE)`

---
Jika dalam satu ekspresi matematika terdapat lebih dari satu operasi, maka harus di selesaikan berdasarkan operasi yang lebih tinggi prioritasnya. Untuk lebih mudah mengingat aturan ini bisa menggunakan akronim PEMDAS. 

```
- Parentheses -- ()
- Exponentiation -- **
- Multiplication -- *
- Division -- /
- Addition -- +
- Substraction -- -
```
---
String adalah kumpulan huruf kata atau karakter lain. Pada Python, string didefinisikan dengan tanda kutip (`""`). Tipe data string juga memiliki operator, operator yang sering digunakan di antaranya 
```
- Concatenation
- Repetition
- Slicing
```

String di Python juga memiliki beberapa method atau fungsi. method yang sering digunakan diantaranya :


```
- len()
- upper()
- lower()
- count()
- find()
- replace()
- capitalize()
- title()
```
---

**TAMBAHAN**

**Casting Variabel:**

Casting variabel adalah membangun atau mengubah sebuah variabel dari tipe data lain menjadi tipe data yang kita inginkan

Contoh:

`string_1 = "46.7"`

Kita akan mengubah variabel `string_1` di atas menjadi tipe data `float`. Caranya:


```python
numb_float = float(string_1)
print(type(numb_float))
output: class 'float'
```

Variabel `numb_float` tersebut juga bisa kita ubah menjadi tipe data `integer`. Caranya:
```python
numb_float = 46.7
numb_int=int(46.7)
print(type(numb_int))
output: class 'int'
```

Untuk tipe data `string`, caranya juga berlaku seperti cara sebelumnya


```python
numb_int = 46
string_2 = str(numb_int)
print(type(string_2))
output:class 'str'
```

---
**Limiting Float Decimal Point**

Jika kita berhadapan dengan tipe data float dengan angka di belakang koma yang banyak, kita bisa menyederhanakan jumlah angkanya menjadi yang kita inginkan.

Cara pertama bisa menggunakan method `round()`. Method ini akan membulatkan bilangan dibelakang koma menjadi yang kita inginkan.


contoh: 

```python
numb_1 = 14.33733
round_num = round(num_1, 2) # 2 disini merupakan jumlah angka di belakang koma
print(round_num)
output=14.34
```

Jika menggunakan f-string, kita bisa lebih mudah menggunakan sintaks (`.2f`). Sintaks tersebut akan membulatkan dua angka di belakang koma. Angka 2 tersebut bisa anda ganti dengan berapapun angka yang kita inginkan

Contoh:
```python
numb_2 = 14.33733
print(f"angka = {numb_2: .2f}")
output = 14.34
```

## **Case Study 1: Menghitung Gaji Karyawan**
___

Pak Bakir adalah seorang manager di sebuah Perusahaan B. Beliau ingin menghitung gaji karyawannya selama satu bulan secara keseluruhan. Daftar karyawan Pak Bakir ada di bawah ini.

|No|Nama|Jam Kerja|Jam Lembur | Upah Kerja (Kotor) | Upah Lembur | Total Upah | Pajak | Total Upah (Netto)
|----|---|---|---|---|---|---|---|---|
|1|Joko|44|12|
|2|Alex | 48 | 11 |
|3|Chandra | 50 | 10 |
|4|Hartono | 42 | 15 |
|5|Samsul | 45 | 12 |

#### **1A**

Hitunglah Upah Kerja (Kotor) dari seluruh karyawan Perusahaan B jika diketahui upah per jam adalah Rp 30000


Tampilkan output sebagai berikut
```
Contoh:
Upah Kerja (Kotor) Doni = Rp 380000
```

```
Keterangan : 
- Upah per jam = 30000
- Upah Kerja (Kotor) = Jam Kerja x Upah per Jam
```

In [7]:
# Jawab disini

# definisikan upah per jam sebagai variabel konstant
WAGES_PER_HOURS = 30_000

# upah joko
# definisikan nama variabel untuk menampung nama karyawan 1 atau Joko
employee_1 = "Joko"

# definisikan variabel untuk menampung jam kerja karyawan 1
number_of_hours = 44

# hitung upah kotor karyawan 1
gross_wages_e_1 = number_of_hours * WAGES_PER_HOURS 

# tampilkan upah kerja (kotor) karyawan 1
print(f"Upah Kerja (Kotor) {employee_1} = Rp.{gross_wages_e_1}")

# untuk karyawan yang lain, lakukan seperti code di atas

# upah Alex
employee_2 = "Alex"

number_of_hours = 48

gross_wages_e_2 = number_of_hours * WAGES_PER_HOURS 

print(f"Upah Kerja (Kotor) {employee_2} = Rp.{gross_wages_e_2}")

# upah Chandra
employee_3 = "Chandra"

number_of_hours = 50

gross_wages_e_3 = number_of_hours * WAGES_PER_HOURS 

print(f"Upah Kerja (Kotor) {employee_3} = Rp.{gross_wages_e_3}")

# upah Hartono
employee_4 = "Chandra"

number_of_hours = 42

gross_wages_e_4 = number_of_hours * WAGES_PER_HOURS 

print(f"Upah Kerja (Kotor) {employee_4} = Rp.{gross_wages_e_4}")


# upah Samsul
employee_5 = "Samsul"

number_of_hours = 45

gross_wages_e_5 = number_of_hours * WAGES_PER_HOURS 

print(f"Upah Kerja (Kotor) {employee_5} = Rp.{gross_wages_e_5}")

Upah Kerja (Kotor) Joko = Rp.1320000
Upah Kerja (Kotor) Alex = Rp.1440000
Upah Kerja (Kotor) Chandra = Rp.1500000
Upah Kerja (Kotor) Chandra = Rp.1260000
Upah Kerja (Kotor) Samsul = Rp.1350000

#### **1B**


Hitunglah Upah Lembur dari seluruh karyawan Perusahaan B

Tampilkan  output sebagai berikut:
contoh
```
contoh:
Upah Lembur Doni = Rp 23000
```


```
Keterangan : 
- Upah lembur per jam = 35000
- Upah Lembur = Jam Lembur x Upah lembur per jam
```

In [15]:
# Jawab disini

# definisikan upah lebur per jam sebagai variabel konstant
OVERTIME_PER_HOURS = 35_000

# Upah lembur Joko
# definisikan variabel untuk menampung jam lebur karyawan 1 atau Joko
employee_1 = "Joko"

# hitung upah lebur karyawan 1 atau Joko
number_overtime_hours = 12

overtime_e_1 =  number_overtime_hours * OVERTIME_PER_HOURS

# tampilkan upah lembur karyawan 1
print(f"Upah Lembur {employee_1} = Rp.{overtime_e_1}")

# untuk karyawan yang lain, lakukan seperti kode di atas

# Upah lembur Alex
employee_2 = "Alex"

number_overtime_hours = 11

overtime_e_2 =  number_overtime_hours * OVERTIME_PER_HOURS

print(f"Upah Lembur {employee_2} = Rp.{overtime_e_2}")

# Upah lembur Chandra
employee_3 = "Chandra"

number_overtime_hours = 10

overtime_e_3 =  number_overtime_hours * OVERTIME_PER_HOURS

print(f"Upah Lembur {employee_3} = Rp.{overtime_e_3}")

# Upah lembur Hartono
employee_4 = "Hartono"

number_overtime_hours = 15

overtime_e_4 =  number_overtime_hours * OVERTIME_PER_HOURS

print(f"Upah Lembur {employee_4} = Rp.{overtime_e_4}")

# Upah lembur Samsul
employee_5 = "Samsul"

number_overtime_hours = 12

overtime_e_5 =  number_overtime_hours * OVERTIME_PER_HOURS

print(f"Upah Lembur {employee_5} = Rp.{overtime_e_5}")

Upah Lembur Joko = Rp.420000
Upah Lembur Alex = Rp.385000
Upah Lembur Chandra = Rp.350000
Upah Lembur Hartono = Rp.525000
Upah Lembur Samsul = Rp.420000

#### **1C**

Hitunglah Total Upah dari seluruh karyawan Perusahaan B

Tampilkan output sebagai berikut:
```
Contoh :
Total Upah Doni = RP 49000
```

```
Keterangan : 
Total Upah = Upah Kerja (Kotor) + Upah Lembur
```

In [18]:
# Jawab disini
gross_salary_e_1 = gross_wages_e_1 + overtime_e_1
gross_salary_e_2 = gross_wages_e_2 + overtime_e_2
gross_salary_e_3 = gross_wages_e_3 + overtime_e_3
gross_salary_e_4 = gross_wages_e_4 + overtime_e_4
gross_salary_e_5 = gross_wages_e_5 + overtime_e_5
print(f"Total Upah (Netto) {employee_1} = Rp {gross_salary_e_1}")
print(f"Total Upah (Netto) {employee_2} = Rp {gross_salary_e_2}")
print(f"Total Upah (Netto) {employee_3} = Rp {gross_salary_e_3}")
print(f"Total Upah (Netto) {employee_4} = Rp {gross_salary_e_4}")      
print(f"Total Upah (Netto) {employee_5} = Rp {gross_salary_e_5}")

Total Upah (Netto) Joko = Rp 1740000
Total Upah (Netto) Alex = Rp 1825000
Total Upah (Netto) Chandra = Rp 1850000
Total Upah (Netto) Hartono = Rp 1785000
Total Upah (Netto) Samsul = Rp 1770000

#### **1D**

Jika persentase pajak karyawan adalah 5%, hitunglah Pajak dari setiap karyawan Perusahaan B

Tampilkan output sebagai berikut:



```
Contoh:
`Total Pajak Doni = Rp 5000`
```



`Keterangan : Pajak = Total upah x 5%`

In [21]:
# Jawab disini 
TAX = 5/100
tax_e_1 = gross_salary_e_1 * TAX
tax_e_2 = gross_salary_e_2 * TAX
tax_e_3 = gross_salary_e_3 * TAX
tax_e_4 = gross_salary_e_4 * TAX
tax_e_5 = gross_salary_e_5 * TAX

print(f"Total Pajak Joko = Rp {tax_e_1}")
print(f"Total Pajak Joko = Rp {tax_e_2}")
print(f"Total Pajak Joko = Rp {tax_e_3}")
print(f"Total Pajak Joko = Rp {tax_e_4}")
print(f"Total Pajak Joko = Rp {tax_e_5}")

Total Pajak Joko = Rp 87000.0
Total Pajak Joko = Rp 91250.0
Total Pajak Joko = Rp 92500.0
Total Pajak Joko = Rp 89250.0
Total Pajak Joko = Rp 88500.0

#### **1E**

Hitunglah Total Upah (Netto) dari setiap karyawan Perusahaan B

Tampilkan output seperti berikut:

```
Contoh:
Total Upah (Netto) Doni = Rp 65000
```

```
Keterangan : 
Total Upah (Netto) = Total Upah - Pajak 
```

In [22]:
salary_nett_e_1 = gross_salary_e_1 - tax_e_1
salary_nett_e_2 = gross_salary_e_2 - tax_e_2
salary_nett_e_3 = gross_salary_e_3 - tax_e_3
salary_nett_e_4 = gross_salary_e_4 - tax_e_4
salary_nett_e_5 = gross_salary_e_5 - tax_e_5

print(f"Total Upah (Netto) {employee_1}  = Rp {salary_nett_e_1}")
print(f"Total Upah (Netto) {employee_2}  = Rp {salary_nett_e_2}")
print(f"Total Upah (Netto) {employee_3}  = Rp {salary_nett_e_3}")
print(f"Total Upah (Netto) {employee_4}  = Rp {salary_nett_e_4}")
print(f"Total Upah (Netto) {employee_5}  = Rp {salary_nett_e_5}")

Total Upah (Netto) Joko  = Rp 1653000.0
Total Upah (Netto) Alex  = Rp 1733750.0
Total Upah (Netto) Chandra  = Rp 1757500.0
Total Upah (Netto) Hartono  = Rp 1695750.0
Total Upah (Netto) Samsul  = Rp 1681500.0

#### **1F** 

Berapakah jumlah total upah seluruh karyawan Perusahaan B?

Tampilkan output sebagai berikut:


```
Contoh:
Jumlah total upah karyawan Perusahaan X adalah = Rp 300000
```

In [24]:
total_salary = salary_nett_e_1 + salary_nett_e_2 + salary_nett_e_3 + salary_nett_e_4 + salary_nett_e_5

print(f"Jumlah total upah karyawan Perusahaan B adalah = Rp {total_salary}")

Jumlah total upah karyawan Perusahaan B adalah = Rp 8521500.0

#### **1G**

Berapakah jumlah rata-rata upah seluruh karyawan Perusahaan B?

Tampilkan output sebagai berikut


```
Contoh:
Rata-rata upah karyawan Perusahaan B adalah = Rp 9800
```

In [26]:
total_employees = 5
mean = total_salary / total_employees
print(f"Rata-rata upah karyawan Perusahaan B adalah = {mean}")

Rata-rata upah karyawan Perusahaan B adalah = 1704300.0

## **Case Study 2: Menghitung Pajak Kendaraan**
___

Setelah bekerja cukup lama Pak Samsul memutuskan untuk membeli mobil dari uang tabungan. Sebelum membeli mobil Pak Samsul melakukan riset terlebih dahulu untuk mengetahui rincian biaya pajak mobil yang akan dibeli. Hasil riset pajak Pak Samsul adalah sebagai berikut. 
```
- Pajak Kendaraan Bermotor (PKB): 2% Nilai Jual Kendaraan Bermotor (NJKB) atau harga jual mobil
- Bea Balik Nama Kendaraan Bermotor (BBN KB): 10% harga jual mobil
- Sumbangan Wajib Dana Kecelakaan Lalu Lintas Jalan (SWDKLLJ): Rp143.000
- Biaya administrasi Tanda Nomor Kendaraan Bermotor (TNKB): Rp100.000
- Penerbitan Surat Tanda Nomor Kendaraan (STNK) = Rp200.000
- Pengesahan Surat Tanda Nomor Kendaraan (STNK) = Rp50.000
- Biaya administrasi : Rp50.000
```
Setelah itu Pak Samsul mencari model mobil yang cocok, dan pilihan Pak Samsul tertuju pada mobil bernama XPanther. Mobil tersebut harganya Rp 200 juta.

#### **2A**

Berapakah Pajak Tahun Pertama mobil Pak Samsul

Tampilkan output sebagai berikut
```
Contoh:
Pajak Tahun Pertama mobil Pak B = Rp 20000
```
```
Keterangan:
- Pajak Tahun Pertama = BBN KB + PKB + SWDKLLJ + TNKB + penerbitan STNK + biaya administrasi
```

In [5]:
# Jawab disini
# Definisikan variabel harga jual mobil
car_price = 200_000_000
# Definisikan variabel yang dibutuhkan untuk menghitung pajak tahun pertama
bbn_kb = (10/100)*car_price
pkb = (2/100)* car_price 
swdkllj  = 143_000
tnkb = 100_000
stnk = 200_000
pengesahan_stnk = 50_000
administration = 50_000

# hitung pajak tahun pertama kendaraan
tax_first_year = bbn_kb + pkb + swdkllj + tnkb + stnk + administration

# tampilkan hasil perhitungan pajak tahun pertama
print(f"Pajak Tahun Pertama mobil Pak Samsul = Rp {tax_first_year}")

Pajak Tahun Pertama mobil Pak Samsul = Rp 24493000.0

#### **2B**


Berapa pajak tahun-tahun selanjutnya mobil Pak Samsul?

Tampilkan output sebagai berikut:
```
Contoh:
Pajak Tahun-tahun berikutnya = Rp 10000
```




```
keterangan:
 - Pajak tahun-tahun berikutnya = PKB + SWDKLLJ + biaya administrasi
```

In [4]:
# Jawab Disini

# hitung pajak tahun-tahun berikutnya
# gunakan variabel yang sudah didefinisikan pada soal 1B
TAX_EVERY_YEAR = 10_000

# tampilkan output perhitungan
n_tax = pkb+ swdkllj + administration
print(f"Pajak tahun-tahun berikutnya : {n_tax}")

Pajak tahun-tahun berikutnya : 4193000.0

#### **2C**

Berapakah pajak 5 tahunan mobil Pak Samsul

Tampilkan output sebagai berikut
```
Contoh:
Pajak Lima Tahunan : Rp 30000
```
```
Keterangan:
- Pajak 5 tahunan = PKB + SWDKLLJ + Biaya pengesahan STNK + Biaya penerbitan STNK + Biaya administrasi TNKB + Biaya administrasi
```

In [6]:
# Jawab Disini

# definisikan variabel biaya pengesahan STNK dan biaya administrasi TNKB
tax_every_five_year = 30_000

# hitung pajak lima tahunan
five_year_tax = pkb + swdkllj + pengesahan_stnk + stnk + tnkb + administration  

# tampilkan hasil perhitungan pajak lima tahunan
print(f"Pajak Lima Tahunan : {five_year_tax}")

Pajak Lima Tahunan : 4543000.0

## **Case Study 3: Edit Hasil Scrapping Media Sosial**
___

Dian sedang membuat analisis sentimen untuk mengetahui sentimen masyarakat tentang Covid-19. Contoh data yang didapatkan Dian dari scrapping media sosial adalah sebagai berikut : 


```
...
- The situation report on #COVID19 from #WHOThailand for 29 September 2022 is now available.
- Covid-19 lockdowns, economic crises, and household income shocks can have scarring impacts on children's education.
- South Korea removes COVID-19 PCR testing for inbound travellers from Oct 1.
...
```

Bantu Dian untuk mengolah data tersebut!


Catatan :

Untuk **menghilangkan** suatu karakter bisa menggunakan method `replace`. Maksudnya karakter tersebut **diganti atau di-replace** dengan **empty string** `("")`

Contoh :

Kita akan menghilangkan huruf `"b"` dari kata `"bisa"`
```python
NAMA_VAR = "bisa"
NAMA_VAR = NAMA_VAR.replace('b', "")
# output
print(NAMA_VAR)
"isa"
```

#### **3A**

Jika ada, hilangkan karakter tag (`#`), tanda koma (`,`) dan tanda strip (`-`) dari data tersebut.

In [2]:
# jawab disini

# definisikan tiga variabel untuk menyimpan kalimat tersebut
text_1 = "The situation report on #COVID19 from #WHOThailand for 29 September 2022 is now available."
text_2 = "Covid-19 lockdowns, economic crises, and household income shocks can have scarring impacts on children's education."
text_3 = "South Korea removes COVID-19 PCR testing for inbound travellers from Oct 1."

# hilangkan karakter tag dengan method replace
text_1 = text_1.replace("#","")
text_2 = text_2.replace("#","")
text_3 = text_3.replace("#","")
# hilangkan tanda koma dengan method replace
text_1 = text_1.replace(",","")
text_2 = text_2.replace(",","")
text_3 = text_3.replace(",","")

# hilangkan tanda strip dengan method replace
text_1 = text_1.replace("-","")
text_2 = text_2.replace("-","")
text_3 = text_3.replace("-","")

# tampilkan masing-masing kalimat tersebut
print(text_1)
print(text_2)
print(text_3)

The situation report on COVID19 from WHOThailand for 29 September 2022 is now available.
Covid19 lockdowns economic crises and household income shocks can have scarring impacts on children's education.
South Korea removes COVID19 PCR testing for inbound travellers from Oct 1.

#### **3B**

Kemudian, buat semua huruf menjadi huruf kecil.

In [3]:
# buat semua huruf di masing-masing kalimat menjadi kecil
lower_text_1 = text_1.lower()
lower_text_2 = text_2.lower()
lower_text_3 = text_3.lower()
# tampilkan masing-masing kalimat tersebut
print(lower_text_1)
print(lower_text_2)
print(lower_text_3)

the situation report on covid19 from whothailand for 29 september 2022 is now available.
covid19 lockdowns economic crises and household income shocks can have scarring impacts on children's education.
south korea removes covid19 pcr testing for inbound travellers from oct 1.

Referensi Tambahan: https://www.pythonmorsels.com/string-methods/

## **Case Study 4: Percetakan Banner**
___

Lila memiliki usaha percetakan Banner di depan rumah. Dia mendapatkan pelanggan untuk mencetak banner peringatan 17 Agustus. Pelanggan meminta ada dua kalimat nanti yang akan dicetak pada banner dengan ukuran 1 * 3.
Kalimat yang pertama "Diragahayu Republik Indonesia ke-77". Kalimat ke dua "BANGKIT LEBIH CEPAT PULIH LEBIH KUAT"

#### **4A**

Sebelum mencetak banner Lila melakukan cek dahulu. Pada kalimat pertama terdapat kesalahan kata "Diragahayu" yang seharusnya "Dirgahayu". Ubah kalimat pertama sehingga menjadi benar

In [11]:
# definisikan variabel untuk kalimat pertama
banner_text_1 = "Diragahayu Republik Indonesia ke-77"
print(banner_text_1)
# ubah kata yang salah menjadi benar
new_text_1 = banner_text_1.replace("a","",1)

# tampilkan kalimat pertama yang sudah dibenarkan
print(new_text_1)

Diragahayu Republik Indonesia ke-77
Dirgahayu Republik Indonesia ke-77

#### **4B**
Kemudian ubah string kalimat pertama menjadi huruf kapital semuanya

In [10]:
# gunakan variabel kalimat pertama pada soal 4A
# ubah string kalimat pertama menjadi kapital semuanya
cap_new_text_1 = new_text_1.upper()
# tampilkan string yang sudah di ubah
print(cap_new_text_1)

DIRGAHAYU REPUBLIK INDONESIA KE-77

#### **4C**

Di kalimat ke dua juga terdapat kesalahan penulisan "BANGKIT LEBIH CEPAT PULIH LEBIH KUAT" seharusnya "PULIH LEBIH CEPAT BANGKIT LEBIH KUAT". Tukar kalimat BANGKIT dan PULIH tersebut sehingga menjadi benar.

In [17]:
# Definisikan variabel untuk string kalimat kedua
banner_text_2 = "BANGKIT LEBIH CEPAT PULIH LEBIH KUAT"

# tukar kalimat bangkit dan pulih menggunakan method replace
banner_text_2 = banner_text_2.replace("BANGKIT","PULIH")
banner_text_2 = banner_text_2.replace("PULIH","BANGKIT")
# tampilkan kalimat kedua yang sudah di ubah
print(banner_text_2)

"""
Jika kita langsung mengganti dengan cara di atas maka output replace pertama
"PULIH LEBIH CEPAT PULIH LEBIH KUAT"
kemudian kita ganti kata pulih menjadi bangkit, maka output replace kedua
"BANGKIT LEBIH CEPAT BANGKIT LEBIH KUAT"
maka dari itu kita harus mengganti dengan kata yang lain dahulu
supaya tidak ada kata yang sama
"""

# definisikan lagi variabel untuk string kalimat kedua
banner_text_2 = "BANGKIT LEBIH CEPAT PULIH LEBIH KUAT"

# ganti kata bangkit dengan kata selain PULIH seperti temp
banner_text_2 = banner_text_2.replace("BANGKIT","temp")

# ganti kata PULIH menjadi BANGKIT
banner_text_2 = banner_text_2.replace("PULIH","BANGKIT")

# ganti kata yang diubah pertama tadi menjadi kata PULIH
banner_text_2 = banner_text_2.replace("temp","PULIH")

# Tampilkan kalimat hasil yang sudah di ubah
print(banner_text_2)

BANGKIT LEBIH CEPAT BANGKIT LEBIH KUAT
PULIH LEBIH CEPAT BANGKIT LEBIH KUAT